@model TV


<div class="container text-center">
    <div class="col-md-4">
        <div class="row">
            <h1>@Model.Name</h1>
        </div>
        <div class="row">
            <img src="@Model.Image" width="300" height="300"></img>
        </div>
        @Html.ActionLink("All tvs", "index", "Televisions")
        <div />
    </div>
</div>

